.sidebar {
    width: 250px;
    background: #2b5876;
    color: white;
    height: 100vh;
    padding-top: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background: rgba(255,255,255,0.15);
    padding-left: 30px;
    border-radius: 6px;
}

.sidebar-title a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    display: inline-block;
}

.sidebar-title a:hover {
    opacity: 0.9;
    text-decoration: underline;
}
