body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #2b5876, #4e4376);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #ffffffee;
    padding: 40px;
    width: 360px;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
    animation: fadeIn 0.6s ease-in-out;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-weight: 600;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 18px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #4e4376;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background: #2b5876;
}

.app-title {
    position: absolute;
    top: 80px;
    text-align: center;
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    color: #ffffffee;
    letter-spacing: 1px;
    animation: fadeIn 1s ease-in-out;
}


.app-title::first-letter {
    font-size: 40px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(25px); }
    to   { opacity: 1; transform: translateY(0); }
}
